/* the global Styles */


body {
  margin:0;
  padding:0;
  position: relative;
}
header {
  clear: both;
  width: 100%;
  background: rgb(40, 40, 40);
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 2em;
  font-family: 'Helvetica Neue';
}
h2 {
  font-size: 1.5em;
}
main {
  text-align: center;
  width: 100%;
}

footer {
  text-align: center;
  color: white;
  clear: both;
  padding: 2em;
  background: rgb(71, 71, 71);
}

/* div.fixed {
  position: relative;
  bottom: 100;
  right: 100;

} */

.project1 {
  width: 100%;
  border: 1px;
}

.project2 {
  width: 50%;
  float: left;
}
.project3 {
  width: 50%;
  float: right;
}

.project4 {
  text-align: center;
  width: 100%;
  float: left;
}

.project1:hover {
  background: rgba(255, 37, 37, 0.15);
}

.project2:hover {
  background: rgba(37, 168, 255, 0.15);
}

.project3:hover {
  background: rgba(255, 37, 219, 0.15);
}

.project4:hover {
  background: rgba(80, 40, 8, 0.15);
}

.mySocials a:hover {
  background-color: yellow;
}
input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: rgb(46, 46, 46);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: center;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: #adadad;
}

/* Add a green background color to the active link */
.navbar a.active {

  color: #adadad;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

  section {
    font-size: 1em;
    
  }

  /* FIRST BREAK POINT */
  @media screen and (min-width: 500px) {
      body {
        background: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 221, 221));
        font-family: Arial;
      }
  /*
      section {
        display: inline-block;
        width: 100%;
      }
  */
  }
  /* END FIRST BREAKPOINT */
  
  
  /* SECOND BREAKPOINT (DESKTOP SIZE) */
  @media screen and (min-width: 1000px) {
    body {
      background: linear-gradient(to right, rgb(255, 255, 255)et, rgb(221, 221, 221));
    }
  
  }
  /* END SECOND BREAKPOINT */
  