


body {
  margin:0;
  padding:0;
  position: relative;
  font-family: Verdana, sans-serif;
}

header {
  clear: both;
  width: 100%;
  background: rgb(40, 40, 40);
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 2em;
  font-family: 'Helvetica Neue';
}

p {
  max-width: 100%;
}
h2 {
  font-size: 1.5em;
}
main {
  text-align: center;
  width: 100%;
}

footer {
  text-align: center;
  color: white;
  clear: both;
  padding: 1em;
  background: rgb(71, 71, 71);
  width: 100%;
  position: relative;

}

.portfolio {
  width: 100%;
}


.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%)
}

.portfolio:hover .image {
opacity: 0.3;
}

.portfolio:hover .middle {
opacity: 1;
}

.text a {
background-color: rgb(80, 80, 80);
color: white;
font-size: 16px;
padding: 16px 32px;
}

.project1 {
  width: 100%;
  border: 1px;
}

.project2 {
  width: 50%;
  float: left;
}
.project3 {
  width: 50%;
  float: right;
}

.project4 {
  text-align: center;
  width: 100%;
  float: left;
}

.project1:hover {
  background: rgba(255, 37, 37, 0.15);
  cursor: pointer;
}

.project2:hover {
  background: rgba(37, 168, 255, 0.15);
  cursor: pointer;
}

.project3:hover {
  background: rgba(255, 37, 219, 0.15);
  cursor: pointer;
}

.project4:hover {
  background: rgba(80, 40, 8, 0.15);
  cursor: pointer;
}

#mimis {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#mimis:hover {opacity: 0.4;}

#sapphire {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#sapphire:hover {opacity: 0.4;}

#msJoycee {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#msJoycee:hover {opacity: 0.4;}

#monique {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#monique:hover {opacity: 0.4;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.959); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(221, 11, 11);
  padding: 10px 0;
  height: 150px;
  font-size: 28px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

input[type=text], select, textarea {
  border-radius: 2px;
  width: 30%;
  height:3em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=email] {
  border-radius: 2px;
  width: 30%;
  height:3em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=submit] {
  background-color: rgb(156, 156, 156);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* properties for the navigation bar */
.navbar {
  background-color: rgb(46, 46, 46);
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  clear: both;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: #adadad;
}

/* Add a green background color to the active link */
.navbar a.active {

  color: #adadad;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

  section {
    font-size: 1em;
    
  }

  /* FIRST BREAK POINT */
  @media screen and (min-width: 300px) {
    
    
    body {
        /* background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 0)); */
        background: red; /* For browsers that do not support gradients */
        background: -webkit-radial-gradient(circle, rgb(255, 255, 255), rgb(224, 224, 224), rgb(68, 68, 68)); /* Safari */
        background: -o-radial-gradient(circle, rgb(255, 255, 255), rgb(224, 224, 224), rgb(68, 68, 68)); /* Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(circle, rgb(255, 255, 255), rgb(224, 224, 224), rgb(68, 68, 68)); /* Firefox 3.6 to 15 */
        background: radial-gradient(circle, rgb(255, 255, 255), rgb(224, 224, 224), rgb(68, 68, 68)); /* Standard syntax */
        font-family: Arial;
      }

      .navbar{
        position: fixed;
        float: none;
        text-align: center;
      }
      section, {
        display: inline-block;
        width: 100%;
        position: fixed;
      }
      .project2{
        display:inline-block;
        width: 100%
      }

      .project3{
        display:inline-block;
        width: 100%
      }

      .project4{
        display:inline-block;
        width: 100%
      }

  }
  /* END FIRST BREAKPOINT */
  
  
  /* SECOND BREAKPOINT (DESKTOP SIZE) */
  @media screen and (min-width: 1000px) {
    body {
      background: linear-gradient(to right, rgb(255, 255, 255)et, rgb(221, 221, 221));
    }
  
  }
  /* END SECOND BREAKPOINT */
  